<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1513416543495-10c173ed9908?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=aff0b38f8272e060f9c4430aa661e24f&auto=format&fit=crop&w=1950&q=80');">
  <div class="banner-content">
  <h1><%= @cocktail.name %></h1>
  <%= link_to "Edit", edit_cocktail_path(@cocktail), class: "btn btn-danger" %>
  <%= link_to "Delete", cocktail_path(@cocktail), method: :delete, data: { confirm: "No way! Delete? Really??" }, class: "btn btn-danger" %>
  <p><%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %></p>
<%= link_to "Back", cocktails_path, class: "btn-medium btn-back" %>
  </div>
</div>
<% @cocktail.doses.each do |dose| %>
  <p>
    <%= dose.description %>
    (<%= dose.ingredient.name %>)
    <%= link_to "Delete a dose", dose_path(dose), method: :delete %>
  </p>
<% end %>

